<%= form_with(model: bank_branch, local: true) do |form| %>
  <% if bank_branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank_branch.errors.count, "error") %> prohibited this bank_branch from being saved:</h2>

      <ul>
      <% bank_branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bank_branch_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, id: :bank_branch_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :ifsc_code %>
    <%= form.text_field :ifsc_code, id: :bank_branch_ifsc_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :micr_code %>
    <%= form.text_field :micr_code, id: :bank_branch_micr_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :manager_id %>
    <%= form.collection_select :manager_id, Manager.all, :id, :name,{prompt: true}, {class: 'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>