<div class="row">
  <div class="col-md-6"><h4>List of Bank Branches</h4></div>
  <div class="col-md-6">
    <%= link_to 'Add New Branch', new_bank_branch_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Ifsc code</th>
      <th>Micr code</th>
      <th>Manager</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_branches.each do |bank_branch| %>
      <tr>
        <td><%= bank_branch.name %></td>
        <td><%= bank_branch.address %></td>
        <td><%= bank_branch.ifsc_code %></td>
        <td><%= bank_branch.micr_code %></td>
        <td><%= link_to bank_branch.manager.name, manager_path(bank_branch.manager) %></td>
        <td><%= link_to 'Edit', edit_bank_branch_path(bank_branch) %></td>
        <td><%= link_to 'Destroy', bank_branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
