<div class="row">
  <div class="col-md-6"><h4>Customers</h4></div>
  <div class="col-md-6">
  </div>
</div>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Pan Number</th>
      <th>Bank Branch</th>
      <th>Customer ID</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.pan_number %></td>
        <td><%= BankBranch.find(user.bank_branch_id).name %></td>
        <td><%= user.customer_id %></td>
        <td><%= user.status.humanize %></td>
        <td>
          <%= link_to 'Approve', update_customer_status_path(id: user.id, status: :approved), class: "btn btn-default #{btn_disable_state('approved', user)}" %>
          <%= link_to 'Reject', update_customer_status_path(id: user.id, status: :rejected), class: "btn btn-default #{btn_disable_state('rejected', user)}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
