<div class="row">
  <div class="col-md-6"><h4>List of Managers</h4></div>
  <div class="col-md-6">
    <%= link_to 'Add New Manager', new_manager_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.name %></td>
        <td><%= manager.email %></td>
        <td><%= manager.mobile %></td>
        <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
        <td><%= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>