<%= form_with(model: locker, local: true) do |form| %>
  <% if locker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locker.errors.count, "error") %> prohibited this locker from being saved:</h2>

      <ul>
      <% locker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :locker_type_id %>
    <%= form.collection_select :locker_type_id, LockerType.all, :id, :locker_type,{prompt: true}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :locker_code %>
    <%= form.text_field :locker_code, id: :locker_locker_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :locker_name %>
    <%= form.text_field :locker_name, id: :locker_locker_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bank_branch_id %>
    <%= form.collection_select :bank_branch_id, BankBranch.all, :id, :name,{prompt: true}, {class: 'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
