<div class="row">
  <div class="col-md-6"><h4>Lockers</h4></div>
  <div class="col-md-6">
    <%= link_to 'Add New Locker', new_locker_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Locker type</th>
      <th>Locker code</th>
      <th>Locker name</th>
      <th>Bank branch</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @lockers.each do |locker| %>
      <tr>
        <td><%= link_to locker.locker_type.locker_type, locker_type_path(locker.locker_type) %></td>
        <td><%= locker.locker_code %></td>
        <td><%= locker.locker_name %></td>
        <td><%= link_to locker.bank_branch.name, bank_branch_path(locker.bank_branch)%></td>
        <td><%= link_to 'Edit', edit_locker_path(locker) %></td>
        <td><%= link_to 'Destroy', locker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>